---
import Partners from "../components/Partners.astro";
import PrizeMoney from "../components/PrizeMoney.astro";
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import Info from "../components/Info.astro";
---

<Layout title="Tactic Games - Início">
  <div class="gap-24 flex flex-col items-center">
    <div class="h-[calc(100dvh-86px)] w-full relative flex">
      <div
        class="bg-black/40 absolute top-0 left-0 right-0 bottom-0 z-10 h-full w-full flex flex-col justify-center items-center gap-4"
      >
        <h1 class="text-5xl sm:text-7xl font-kanit bold">1 · 2 · 3 DEZ 2024</h1>
        <h1 class="text-xl sm:text-5xl font-kanit">VILA FRANCA XIRA</h1>
        <button class="text-base sm:text-lg bg-primary rounded-lg p-4">
          INCRICOES EM BREVE
        </button>
      </div>
      <video
        autoplay
        muted
        loop
        playsinline
        id="homepage-video"
        class="h-full w-full object-cover"
      >
        <source src="/videos/tacticGames.mp4" type="video/mp4" />
      </video>
    </div>
    <Partners />
    <PrizeMoney />
    <Info />
    <Map />
  </div>
</Layout>

<style></style>
