---
import Partners from "../components/Partners.astro";
import PrizeMoney from "../components/PrizeMoney.astro";
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import Info from "../components/Info.astro";
---

<Layout title="Tactic Games - Início">
  <div class="gap-24 flex flex-col items-center">
    <div class="h-[calc(100vh-86px)] w-full relative flex">
      <div
        class="bg-black/40 absolute top-0 left-0 right-0 bottom-0 z-10 h-full w-full flex flex-col justify-center items-center gap-5 text-center"
      >
        <h1 class="text-4xl sm:text-5xl md:text-7xl font-kanit bold">
          22 · 23 Junho 2024
        </h1>
        <h1 class="text-xl sm:text-5xl font-kanit">Vila Franca de Xira</h1>
        <a
          class="text-base sm:text-lg bg-[#877437] rounded-lg p-4 hover:bg-primary-700 font-kanit"
          href="/inscricoes"
        >
          Inscrições
        </a>
      </div>
      <video
        autoplay
        muted
        loop
        playsinline
        id="homepage-video"
        class="h-full w-full object-cover"
      >
        <source src="/videos/tac.MP4" type="video/mp4" />
      </video>
    </div>
    <Partners />
    <PrizeMoney />
    <Info />
    <Map />
  </div>
</Layout>

<style></style>
