---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tactic Games - Inscrições">
  <main class="flex items-center flex-col gap-6">
    <div class="gap-24 flex flex-col items-center w-full">
      <div
        class="h-[calc(35dvh-86px)] sm:h-[calc(50dvh-86px)] w-full relative flex"
      >
        <div
          class="bg-black/60 absolute top-0 left-0 right-0 bottom-0 z-10 h-full w-full flex flex-col justify-center items-center gap-4"
        >
          <h1 class="text-4xl sm:text-5xl font-kanit font-bold">Inscrições</h1>
        </div>
        <img
          class="object-cover h-auto w-full"
          src="/img/group.jpeg"
          alt="Tactic Games"
        />
      </div>
    </div>
    <div class="container p-3">
      <div
        class="grid grid-rows-[auto_auto_auto] md:grid-cols-3 justify-center gap-4 md:gap-3"
      >
        <div class="flex flex-col gap-3 text-center">
          <h1 class="text-2xl text-primary font-bold">
            Como fazer a Inscrição?
          </h1>
          <h2 class="text-xl text-primary font-bold">1º Passo</h2>
          <p>
            Enviar Comprovativo de pagamento para o <strong class="text-primary"
              >tacticgames2023@gmail.com</strong
            >
          </p>
          <p>
            Escrever nome da Equipa no “ASSUNTO” (Apenas é realizado 1 pagamento
            por equipa, na totalidade do valor dos atletas inscritos)
          </p>
          <h2 class="text-xl text-primary font-bold">2º Passo</h2>
          <p>Preencher Formulário de Inscrição:</p>
          <h3 class="text-lg text-primary font-bold">Equipas (4+2)</h3>
          <a
            class="font-bold underline"
            href="https://forms.gle/3zjPS66x7QxG5S736"
            >https://forms.gle/3zjPS66x7QxG5S736</a
          >
          <h3 class="text-lg text-primary font-bold">Dupas (2+1)</h3>
          <a
            class="font-bold underline"
            href="https://docs.google.com/forms/d/1Lo7NmtJrZXqs7IFZj-9Miwyjby9O0wpJeWRqS0qg8bU/edit"
            >https://docs.google.com/forms/d/1Lo7NmtJrZXqs7IFZj-9Miwyjby9O0wpJeWRqS0qg8bU/edit</a
          >
        </div>
        <div class="flex flex-col gap-3 text-center">
          <h1 class="text-2xl text-primary font-bold">Métodos de Pagamento</h1>
          <ul class="flex flex-col gap-3">
            <li><strong>MBWAY:</strong> 92486800</li>
            <li><strong>IBAN:</strong> PT504587354037743779081</li>
          </ul>
        </div>
        <div class="flex flex-col gap-3 text-center">
          <h1 class="text-2xl text-primary font-bold">Preço por Atleta</h1>
          <h2 class="text-xl">
            As inscrições serão feitas em 3 fases (valores por atleta):
          </h2>
          <ul class="flex flex-col gap-3">
            <li class="font-bold text-lg">1ª Fase</li>
            <li>1 de fevereiro - 29 de fevereiro</li>
            <li>45€</li>
            <li class="font-bold text-lg">2ª Fase</li>
            <li>1 de março - 30 de abril</li>
            <li>50€</li>
            <li class="font-bold text-lg">3ª Fase</li>
            <li>1 de maio - 31 de maio</li>
            <li>60€</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
