---
import { cn } from "../lib/utils";

interface Props {
  title: string;
  img: string;
  className?: string;
  url: string;
}

const { title, img, className, url } = Astro.props;
---

<div
  style={{ "--image-url": `url(${img})` }}
  class={cn(
    "p-6 w-full h-full hover:cursor-pointer rounded-lg bg-[image:var(--image-url)] bg-cover bg-center shadow-lg transform lg:hover:scale-[1.01] transition-transform duration-200 relative",
    className
  )}
>
  <a
    href={url}
    class="absolute top-0 right-0 left-0 bottom-0 bg-black/70 flex flex-col justify-center items-center gap-3"
    aria-label=`card-link-${title}`
  >
    <h3
      class="sm:text-3xl lg:text-4xl xl:text-3xl text-2xl font-bold text-gray-100"
    >
      {title}
    </h3>
  </a>
</div>
