---
import Card from "./Card.astro";
---

<section class="container flex flex-col gap-4">
  <h2
    class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi text-center"
  >
    Informações
  </h2>
  <div
    class="grid grid-cols-2 grid-rows-4 w-full h-[400px] sm:h-[500px] gap-4 px-4"
  >
    <div class="col-start-1 row-span-2">
      <Card
        title="Regulamento"
        img="https://utfs.io/f/c9e35e4c-797e-47cc-b35d-5cace81ace5d-1stjp3.jpg"
        url="/regulamento"
      />
    </div>
    <div class="col-start-1 row-span-2">
      <Card
        title="Standarts"
        img="https://utfs.io/f/540c3569-d4e7-4028-95a0-4cdcd222015d-xon686.jpg"
        url="https://drive.google.com/file/d/1XxzP_xO5Tk5doeq51AFFhQGKzkeRdK-P/view"
      />
    </div>
    <div class="col-start-2 row-start-1 row-end-5">
      <Card
        title="Inscrições"
        img="https://utfs.io/f/1123bc8f-7998-4c79-b7d3-ba3dc4a4e7f4-i1015m.jpg"
        url="/inscricoes"
      />
    </div>
  </div>
</section>
