---
import Card from "./Card.astro";
---

<section class="container flex flex-col gap-4">
  <h2
    class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi text-center"
  >
    Informações
  </h2>
  <div class="grid grid-cols-2 grid-rows-4 w-full h-[400px] gap-4 px-4">
    <div class="col-start-1 row-span-2">
      <Card title="Regulamento" img="/img/info/rules.jpg" url="/regulamento" />
    </div>
    <div class="col-start-1 row-span-2">
      <Card
        title="Standarts"
        img="/img/info/standarts.jpg"
        url="/regulamento"
      />
    </div>
    <div class="col-start-2 row-start-1 row-end-5">
      <Card
        title="Inscrições"
        img="/img/info/registrations.jpg"
        url="/inscricoes"
      />
    </div>
  </div>
</section>
