---

---

<div class="flex flex-col justify-center items-center gap-3">
  <h2
    class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi"
  >
    Os nossos parceiros
  </h2>
  <div class="container">
    <div class="scroller" data-direction="right" data-speed="slow">
      <div class="scroller__inner">
        <img
          src="https://utfs.io/f/8c09d0c0-e737-412f-9ec4-2cf96224a584-h9golj.png"
          class="w-[100px] h-[100px] sm:w-[150px] sm:h-[150px]"
          alt="logo-img"
        />
        <!-- <img
          src="/img/partners/lynxRace.jpg"
          class="w-[178px] h-[100px] sm:w-[267px] sm:h-[150px]"
          alt="logo-img"
        /> -->
        <img
          src="https://utfs.io/f/3b264eee-75b4-4394-b2ee-c27c8b89ce96-yltagk.png"
          class="w-[100px] h-[97px] sm:w-[150px] sm:h-[150px]"
          alt="logo-img"
        />
        <img
          src="https://utfs.io/f/52bea640-2b1b-475b-830a-66874c00e622-stc5a2.png"
          class="w-[100px] h-[100px] sm:w-[150px] sm:h-[145.6px]"
          alt="logo-img"
        />
        <img
          src="https://utfs.io/f/3205b380-0f72-4197-b287-c4df8321cebf-1q9slz.jpg"
          class="w-[100px] h-[100px] sm:w-[150px] sm:h-[150px]"
          alt="logo-img"
        />
        <img
          src="https://utfs.io/f/e9806698-f12a-4859-bfdc-c2cdd46c6488-8goq35.png"
          class="w-[179px] h-[100px] sm:w-[268.5px] sm:h-[150px]"
          alt="logo-img"
        />
        <img
          src="https://utfs.io/f/ae190632-229e-4fef-ac53-65c6e6f660ae-g53gin.jpeg"
          class="w-[100px] h-[100px] sm:w-[150px] sm:h-[150px]"
          alt="logo-img"
        />
        <img
          src="https://utfs.io/f/dc9e17a4-f95d-4818-a334-65d227d64749-h3rlzr.jpg"
          class="w-[263px] h-[100px] sm:w-[394.5px] sm:h-[150px]"
          alt="logo-img"
        />
        <img
          src="https://utfs.io/f/d69ed6ce-eb25-46ac-bf14-058b8a588679-hymtzq.png"
          class="w-[100px] h-[100px] sm:w-[150px] sm:h-[150px]"
          alt="logo-img"
        />

        <img
          src="https://utfs.io/f/d0f5423a-3a6d-455a-961b-6dcecf6ca9da-16aklj.png"
          class="w-[100px] h-[100px] sm:w-[150px] sm:h-[150px]"
          alt="logo-img"
        />
      </div>
    </div>
  </div>
</div>

<script is:inline>
  const scrollers = document.querySelectorAll(".scroller");

  scrollers.forEach((scroller) => {
    // add data-animated="true" to every `.scroller` on the page
    scroller.setAttribute("data-animated", "true");

    // Make an array from the elements within `.scroller-inner`
    const scrollerInner = scroller.querySelector(".scroller__inner");
    const scrollerContent = Array.from(scrollerInner?.children);

    // For each item in the array, clone it
    // add aria-hidden to it
    // add it into the `.scroller-inner`
    scrollerContent.forEach((item) => {
      const duplicatedItem = item.cloneNode(true);
      // @ts-ignore
      duplicatedItem.setAttribute("aria-hidden", true);
      scrollerInner?.appendChild(duplicatedItem);
    });
  });
</script>

<style>
  .scroller {
    max-width: 100%;

    @media (max-width: 640px) {
      max-width: 100vw;
    }
  }

  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>
