---

---

<section class="container flex flex-col gap-4">
  <h2
    class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi text-center"
  >
    Fotógrafos Oficiais
  </h2>
  <div
    class="grid grid-rows-3 sm:grid-cols-3 sm:grid-rows-1 sm:h-auto w-full gap-4 px-4"
  >
    <a
      href="https://www.instagram.com/glimpse____photography/"
      class="rounded-lg overflow-auto hover:scale-[1.01]"
    >
      <img
        src="https://utfs.io/f/1a34578c-044b-4039-94c6-7e08c57564ce-jljpa8.42.21.jpeg"
        alt="foto-img"
      />
    </a>
    <a
      href="https://www.instagram.com/cfprs/"
      class="rounded-lg overflow-auto hover:scale-[1.01]"
    >
      <img
        src="https://utfs.io/f/03d04187-130d-4768-98a0-4cd3c39c2e51-21y9p9.jpeg"
        alt="foto-img"
      />
    </a>
    <a
      href="https://www.instagram.com/ludbmartins/"
      class="rounded-lg overflow-auto hover:scale-[1.01]"
    >
      <img
        src="https://utfs.io/f/c8cd8ff3-db74-4a9b-baa0-c9dc69086948-jljpa8.42.22.jpeg"
        alt="foto-img"
      />
    </a>
  </div>
</section>
