---

---

<section class="container flex flex-col gap-4">
  <h2
    class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi text-center"
  >
    Fotógrafos Oficiais
  </h2>
  <div
    class="grid w-full grid-cols-2 sm:grid-cols-2 md:grid-cols-6 lg:grid-cols-5 gap-4 items-center justify-center px-4"
  >
    <a
      href="https://www.instagram.com/glimpse____photography/"
      class="rounded-lg overflow-auto hover:scale-[1.01] md:col-span-2 lg:col-span-1"
    >
      <img
        src="https://utfs.io/f/1a34578c-044b-4039-94c6-7e08c57564ce-jljpa8.42.21.jpeg"
        alt="foto-img"
      />
    </a>
    <a
      href="https://www.instagram.com/cfprs/"
      class="rounded-lg overflow-auto hover:scale-[1.01] md:col-span-2 lg:col-span-1"
    >
      <img
        src="https://utfs.io/f/03d04187-130d-4768-98a0-4cd3c39c2e51-21y9p9.jpeg"
        alt="foto-img"
      />
    </a>
    <a
      href="https://www.instagram.com/ludbmartins/"
      class="rounded-lg overflow-auto hover:scale-[1.01] md:col-span-2 lg:col-span-1"
    >
      <img
        src="https://utfs.io/f/c8cd8ff3-db74-4a9b-baa0-c9dc69086948-jljpa8.42.22.jpeg"
        alt="foto-img"
      />
    </a>
    <a
      href="https://www.instagram.com/sergioreal74/"
      class="rounded-lg overflow-auto hover:scale-[1.01] md:col-span-3 lg:col-span-1"
    >
      <img
        src="https://utfs.io/f/71a67159-8705-446e-91af-0ace8aa08442-j9s7hc.28.49.png"
        alt="foto-img"
      />
    </a>
    <a
      href="https://www.instagram.com/figueira.photo/"
      class="rounded-lg overflow-auto hover:scale-[1.01] md:col-span-3 lg:col-span-1"
    >
      <img
        src="https://utfs.io/f/3ea5a9fe-cd54-4d66-852a-65f0da835182-j9s7hc.27.23.png"
        alt="foto-img"
      />
    </a>
  </div>
</section>
