---
import Division from "./Division.astro";
---

<section class="w-full bg-black flex justify-center">
  <div class="container flex flex-col gap-12">
    <div class="text-center space-y-3">
      <h2
        class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi"
      >
        Prize Money
      </h2>
      <p
        class="mx-auto max-w-[600px] text-gray-100 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Compete na tua categoria e habilita-te a ganhar parte dos nossos
        prémios!
      </p>
    </div>
    <div
      class="grid w-full grid-cols-2 sm:grid-cols-2 md:grid-cols-6 lg:grid-cols-5 gap-4 items-center justify-center px-4"
    >
      <Division
        title="Scaled"
        subTitle="600€"
        img="https://utfs.io/f/b35e43ed-7555-4fe3-a809-655598e24e12-f0pnl2.png"
        className="md:col-span-2 lg:col-span-1"
      />
      <Division
        title="Masters"
        subTitle="700€"
        img="https://utfs.io/f/0feba574-8139-47de-a9b4-f0381999ab73-dwdljl.jpeg"
        className="md:col-span-2 lg:col-span-1"
      />
      <Division
        title="Rx"
        subTitle="700€"
        img="https://utfs.io/f/4f3cebcd-deee-4dc3-8d6a-bf85e30baacb-2ti.jpeg"
        className="md:col-span-2 lg:col-span-1"
      />
      <Division
        title="Extreme"
        subTitle="700€"
        img="https://utfs.io/f/4d53b845-8eb0-4a4b-9f85-fdb1c822a6b0-ll4spg.png"
        className="md:col-span-3 lg:col-span-1"
      />
      <Division
        title="Duplas Extreme"
        subTitle="450€"
        img="https://utfs.io/f/3a955dc5-2f75-491f-8f73-0ec35b13e5f8-xqd6vv.png"
        className="col-span-2 sm:col-span-2 md:col-span-3 lg:col-span-1 text-center"
      />
    </div>
  </div>
</section>
