---
import Division from "./Division.astro";
---

<section class="w-full bg-black flex justify-center">
  <div class="container flex flex-col gap-12">
    <div class="text-center space-y-3">
      <h2
        class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi"
      >
        Prize Money
      </h2>
      <p
        class="mx-auto max-w-[600px] text-gray-100 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Compete na tua categoria e habilita-te a ganhar parte do nosso prémio
        total de <strong>4000€</strong>!
      </p>
    </div>
    <div
      class="grid w-full grid-cols-2 sm:grid-cols-2 md:grid-cols-6 lg:grid-cols-5 gap-4 items-center justify-center px-4"
    >
      <Division
        title="Scaled"
        subTitle="600€"
        img="/img/divisions/scaled.jpeg"
        className="md:col-span-2 lg:col-span-1"
      />
      <Division
        title="Masters"
        subTitle="700€"
        img="/img/divisions/masters.jpeg"
        className="md:col-span-2 lg:col-span-1"
      />
      <Division
        title="Rx"
        subTitle="700€"
        img="/img/divisions/rx.jpg"
        className="md:col-span-2 lg:col-span-1"
      />
      <Division
        title="Extreme"
        subTitle="700€"
        img="/img/divisions/extreme.jpg"
        className="md:col-span-3 lg:col-span-1"
      />
      <Division
        title="Elite"
        subTitle="1750€"
        img="/img/divisions/elite.jpeg"
        className="col-span-2 sm:col-span-2 md:col-span-3 lg:col-span-1"
      />
    </div>
  </div>
</section>
