---

---

<section class="w-full bg-black flex justify-center">
  <div class="container flex flex-col gap-12">
    <div class="text-center space-y-3">
      <h2
        class="text-3xl font-bold tracking-tighter md:text-4xl/tight text-primary font-satoshi"
      >
        Prize Money
      </h2>
      <p
        class="mx-auto max-w-[600px] text-gray-100 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Compete na tua categoria e habilita-te a ganhar parte do nosso prémio
        total de <strong>4000€</strong>!
      </p>
    </div>
    <div
      class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 items-center justify-center px-12"
    >
      <div
        class="p-6 border-2 border-gray-700 rounded-lg bg-gray-800 shadow-lg transform hover:scale-105 transition-transform duration-200"
      >
        <h3 class="text-2xl font-bold text-gray-100">Elite</h3>
        <p class="text-gray-400">$175</p>
      </div>
      <div
        class="p-6 border-2 border-gray-700 rounded-lg bg-gray-800 shadow-lg transform hover:scale-105 transition-transform duration-200"
      >
        <h3 class="text-2xl font-bold text-gray-100">RX</h3>
        <p class="text-gray-400">$700</p>
      </div>
      <div
        class="p-6 border-2 border-gray-700 rounded-lg bg-gray-800 shadow-lg transform hover:scale-105 transition-transform duration-200"
      >
        <h3 class="text-2xl font-bold text-gray-100">Extreme</h3>
        <p class="text-gray-400">$700</p>
      </div>
      <div
        class="p-6 border-2 border-gray-700 rounded-lg bg-gray-800 shadow-lg transform hover:scale-105 transition-transform duration-200"
      >
        <h3 class="text-2xl font-bold text-gray-100">Masters</h3>
        <p class="text-gray-400">$700</p>
      </div>
      <div
        class="p-6 border-2 border-gray-700 rounded-lg bg-gray-800 shadow-lg transform hover:scale-105 transition-transform duration-200"
      >
        <h3 class="text-2xl font-bold text-gray-100">Scaled</h3>
        <p class="text-gray-400">$600</p>
      </div>
    </div>
  </div>
</section>
