---
import Layout from "./Layout.astro";
---

<Layout title="Tactic Games - Regulamento">
  <div class="gap-24 flex flex-col items-center">
    <div
      class="h-[calc(35dvh-86px)] sm:h-[calc(50dvh-86px)] w-full relative flex"
    >
      <div
        class="bg-black/60 absolute top-0 left-0 right-0 bottom-0 z-10 h-full w-full flex flex-col justify-center items-center gap-4"
      >
        <h1 class="text-4xl sm:text-5xl font-kanit bold">Regulamento</h1>
      </div>
      <img
        class="object-cover h-auto w-full"
        src="/img/info/rules.jpg"
        alt="Tactic Games"
      />
    </div>
  </div>
  <slot />
</Layout>
